<div class="modal hide fade" id="signupModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>あともう少しの作業が必要です!</h3>
  </div>
  <div class="modal-body">
    <p>最初のキャンペーンを作成してはじめましょう。</p>
    <p>始めるに当たって質問があれば，我々にご連絡ください: <a href="mailto:open@crowdtilt.com?subject=I%20have%20questions%20about%20getting%20started%20with%20Crowdtilt%20Open">open@crowdtilt.com</a>.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="<%= new_admin_campaign_path %>" class="btn btn-primary">キャンペーンを始める!</a>
  </div>
</div>
